#top-bar
	background: #222f3e
	position: relative
	z-index: 3

#page-content-dimmer
	display: none
	position: fixed
	top: 0
	right: 0
	left: 0
	bottom: 0
	opacity: 0
	background-color: black
	transition: opacity 0.15s

#top-bar-content-wrapper
	box-sizing: border-box
	padding: 0 34px
	margin: 0 auto
	max-width: 1280px
	&:after
		content: ""
		display: block
		clear: both

nav
	ul
		margin: 0
		padding: 0
		list-style: none
		&:after
			content: ""
			display: block
			clear: both

		li
			display: block
			float: left
			font-size: 14px

			&:first-of-type
				a
					margin-left: -18px

			a
				display: inline-block
				position: relative
				padding: 19px 18px

				color: #B6D5F4
				line-height: 18px
				text-decoration: none
				transition: color 0.15s

				&:hover, &:active
					color: #FFF

#main-menu-toggle-checkbox
	display: none

#main-menu-toggle
	display: none

#main-navigation
	float: left

	ul li 
		a
			&:after
				content: ""
				display: block
				position: absolute
				width: calc(100% - 36px)
				margin: 0 auto
				height: 2px
				background-color: white
				bottom: 0px
				left: 0
				right: 0
				transform: scale(0)
				opacity: 0
				transition: transform 0.15s, opacity 0.15s

			&:hover
				&:after
					opacity: 1
					transform: scale(1)

			&:active
				&:after
					transition: transform 0s, opacity 0s
					opacity: 1
					transform: scale(1)

	.highlight a
		font-weight: 600
		cursor: default
		color: #FFF
		
		&:after
			opacity: 1
			transform: scale(1)

#secondary-navigation
	float: right

	ul
		> .button
			padding: 12px 0
			-webkit-user-select: none
			-moz-user-select: none
			-ms-user-select: none
			user-select: none
			a
				cursor: pointer
				padding: 5px 24px
				border: 2px solid white
				background-color: transparent
				border-radius: 17px
				transition: color 0.15s, background-color 0.15s, border 0.15s

				&:hover
					color: white
					background-color: #D70047

				&:active
					transition: background-color 0s
					color: white
					background-color: #B0003A

			.mobile
				display: none

		> .faded a
			color: #B6D5F4

//
// Responsive rules
//

@media screen and (max-width: 840px)
	#secondary-navigation
		ul
			> .faded
				display: none
				
@media screen and (max-width: 640px)
	#top-bar-content-wrapper
		position: relative

	#main-menu-toggle
		display: block
		float: left
		padding: 0 12px
		line-height: 50px
		-webkit-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none
		cursor: pointer
		color: #545454
		transition: color 0.15s, background-color 0.15s

		svg
			width: 17px
			height: 17px
			.icon
				transition: fill 0.15s
				fill: white

		&:hover, &:active, &:focus
			color: white
			background-color: white
			svg .icon
				fill: #222F3E

	#main-menu-toggle-checkbox
		&:checked ~ #wrapper-for-css-selector #top-bar #top-bar-content-wrapper #main-navigation ul
			max-height: 150px
			li
				display: block

		&:checked ~ #wrapper-for-css-selector #page-content-dimmer
			display: block
			opacity: 0.2

	#main-navigation
		&:after
			content: ""
			display: block
			clear: both
		ul
			display: flex
			flex-direction: column
			overflow: hidden
			float: left
			margin-left: -18px
			transition: max-height 0.15s
			li
				background-color: #222f3e
				float: none
				order: 1
				display: none

				&:first-of-type
					a
						margin-left: 0px

				a
					padding: 19px 18px

			.highlight
				display: block

@media screen and (max-width: 420px)
	#top-bar-content-wrapper
		padding: 0 17px

	#secondary-navigation
		ul > .button 
			padding: 9px 0
			a
				padding: 5px 16px

	#main-navigation
		ul 
			margin-left: -10px
			li a
				padding: 16px 10px
				&:after
					width: calc(100% - 20px)