<div id="top-bar">
<div id="top-bar-content-wrapper">
	<nav id="main-navigation">
		<ul>
			<li {% if page.url == "/" %}class="highlight"{% endif %}
			>
				<a 
					{% if page.url != "/" %}href="index.html"{% endif %} 
				>
					Školní portál
				</a>
			</li>
			<li {% if page.url == "/co-to-umi.html" %}class="highlight"{% endif %}
			>
				<a 
					{% if page.url != "/co-to-umi.html" %}href="co-to-umi.html"{% endif %} 
				>
					Co to umí?
				</a>
			</li>
			<li {% if page.url == "/kolik-to-stoji.html" %}class="highlight"{% endif %}
			>
				<a 
					{% if page.url != "/kolik-to-stoji.html" %}href="kolik-to-stoji.html"{% endif %}
				>
					Kolik to stojí?
				</a>
			</li>
		</ul>
		<label for="main-menu-toggle-checkbox" id="main-menu-toggle">
			{% include arrow-down.svg %}
		</label>
	</nav>
	<nav id="secondary-navigation">
		<ul>
			<li class="faded">
				<a>Líbí se vám co dělám?</a>
			</li>
			<li class="button">
				<a class="desktop">Dejte mi vědět</a>
				<a class="mobile">Kontakt</a>
			</li>
		</ul>
	</nav>
</div>
</div>