<div id="top-bar">
<div id="content-wrapper">
	<nav id="main-navigation">
		<ul>
			<li>
				<a 
					{% if page.url != "/" %}href="index.html"{% endif %} 
					{% if page.url == "/" %}class="highlight"{% endif %}
				>
					Nástroje pro školy
				</a>
			</li>
			<li>
				<a 
					{% if page.url != "/co-to-umi" %}href="co-to-umi.html"{% endif %} 
					{% if page.url == "/co-to-umi" %}class="highlight"{% endif %}
				>
					Co to umí?
				</a>
			</li>
			<li>
				<a 
					{% if page.url != "/kolik-to-stoji" %}href="kolik-to-stoji.html"{% endif %}
					{% if page.url == "/kolik-to-stoji" %}class="highlight"{% endif %}
				>
					Kolik to stojí?
				</a>
			</li>
			<li>
				<a 
					{% if page.url != "/o-programatorovi" %}href="o-programatorovi.html"{% endif %}
					{% if page.url == "/o-programatorovi" %}class="highlight"{% endif %}
				>
					O programátorovi
				</a>
			</li>
		</ul>
	</nav>
	<nav id="secondary-navigation">
		<ul>
			<li class="faded"><a href="/">Líbí se vám co dělám?</a></li>
			<li class="button"><a href="/">Dejte mi vědět</a></li>
		</ul>
	</nav>
</div>
</div>