@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900&subset=latin-ext')
body
	font-family: Source Sans Pro, Helvetica, Arial, sans-serif


#page-wrapper

.segment-wrapper
	max-width: 1280px
	box-sizing: border-box
	padding: 68px 34px
	margin: 0 auto
	position: relative
	&:after
		content: ""
		display: block
		clear: both

	.segment-part
		float: left

.offsite-link-icon
	width: 12px
	height: auto

@import 'normalize'

@import 'top-bar/top-bar'

@import 'home-page/hero-card'

@import 'home-page/examples'