.grey-backdrop
	padding: 0
	max-width: 100%
	border-top: 1px solid #e1e1e1
	background: white

	> .content-wrap
		max-width: 1280px
		box-sizing: border-box
		padding: 48px 34px 0
		margin: 0 auto
		position: relative

$border-color: #C7D2DF

#examples-homepage-segment .content-wrap
	.project-details
		padding-right: 18px
		margin: 0 auto
		max-width: 600px
		text-align: center

		h2
			font-family: 'Source Sans Pro', serif
			margin: 26px 0 12px
			color: #576574
			font-size: 36px
			line-height: 36px
			font-weight: 400
			text-align: center

		h3
			font-family: 'Source Sans Pro', serif
			font-size: 22px
			line-height: 22px
			color: #576574
			margin: 0 0 12px
			text-align: center

		p
			margin: 6px 0
			font-size: 18px
			color: #646464
			line-height: 1.75

	#work-examples-container
		margin-top: 68px
		position: relative
		&:after
			content: ""
			display: block
			clear: both

		#desktop-preview-container, #mobile-preview-container
			display: flex
			align-items: flex-end
			box-sizing: border-box
			padding: 0 34px
			float: left
			> img
				max-width: 100%
				display: block
				border-radius: 16px 16px 0 0
				border: 12px solid $border-color
				border-top: 32px solid $border-color
				border-bottom: 0
				transition: box-shadow 0.3s

		#desktop-preview-container
			padding-left: 126px
			width: 88%
			> img
				border: 16px solid $border-color
				border-top: 22px solid $border-color
				border-bottom: 0

		#mobile-preview-container
			position: absolute
			bottom: 0
			right: 0
			width: 34.5%
			padding-right: 126px

@media screen and(max-width: 1080px)
	#examples-homepage-segment .content-wrap
		#work-examples-container
			display: block
			position: relative
			max-width: 580px
			margin-left: auto
			margin-right: auto

			#desktop-preview-container
				padding-left: 0px
				float: none
				width: 100%

			#mobile-preview-container
				width: 38%
				padding-right: 0px

@media screen and(max-width: 640px)
	#examples-homepage-segment .content-wrap #work-examples-container
		#desktop-preview-container
			> img
				border: 6px solid $border-color
				border-top: 18px solid $border-color
				border-bottom: 0

		#mobile-preview-container
			> img
				border: 6px solid $border-color
				border-top: 16px solid $border-color
				border-bottom: 0

@media screen and(max-width: 420px)
	#examples-homepage-segment .content-wrap
		padding: 48px 17px 0

		#work-examples-container
			#mobile-preview-container
				width: 40%

	#examples-homepage-segment
		.content-wrap
			> h2
				margin: 0 0 26px
				font-size: 24px
				line-height: 24px

			.project-details
				h3
					font-size: 18px
					line-height: 22px
					margin: 6px 0

