#hero-card 
	position: relative
	background-color: #EBF0F4

#hero-card-content
	padding-bottom: 0

#hero-card-content .segment-part
	width: 40%

	&:nth-child(2)
		width: 60%
		padding-top: 48px
		box-sizing: border-box

		&:after
			content: ""
			display: block
			clear: both

	h1
		margin: 34px 0
		color: #2A425D
		font-family: 'Source Sans Pro', serif
		font-size: 72px
		line-height: 1.2
		font-weight: 900

	.annotation
		font-size: 18px
		color: #1D2732
		line-height: 1.75
		
	> button
		margin: 48px 0
		padding: 15px 28px
		border: 0
		border-radius: 5px
		background-color: #8395a7
		cursor: pointer
		transition: background-color 0.3s

		color: white
		font-weight: 700
		font-size: 16px
		text-transform: uppercase
		letter-spacing: 1px

		&:hover, &:focus, &:active
			background-color: #ff9f43

	> button.focused
		background-color: #ff9f43

	#portal-mockup-graphic
		float: right
		display: block
		width: 580px
		max-width: 100%
		border-radius: 10px 10px 0 0
		border: 3px solid #8395a7
		border-bottom: 0
		box-shadow: 0 0 0 6px #feca57
		transition: box-shadow 0.3s
		cursor: pointer

	#portal-mockup-graphic.focused
		box-shadow: 0 0 0 12px #feca57

//
// Responsive rules
//

@media screen and (max-width: 1280px)

@media screen and (max-width: 1180px)
	#hero-card .segment-part
		h1
			font-size: 60px
			line-height: 1.1

@media screen and (max-width: 1080px)
	#hero-card > svg
		display: none

	#hero-card .segment-part
		width: 100%
		max-width: 580px
		margin: 0 auto
		float: none

		&:nth-child(2)
			padding: 0px
			width: 100%

		h1
			margin: 0 0 34px


@media screen and (max-width: 640px)
	#hero-card .segment-part 
		h1
			font-size: 40px
			line-height: 1.1
			margin: 0 0 16px

			> svg
				margin-bottom: -15px
				height: 50px
				widht: 50px

		> button
			display: block
			margin: 32px 0
			padding: 12px 22px
			box-sizing: border-box

@media screen and (max-width: 420px)
	#hero-card-content
		padding: 48px 17px 0

		.segment-part #portal-mockup-graphic
			border-radius: 10px 0 0 0
			border-right: 0
			margin-right: -17px
			width: calc(100% + 14px)
			max-width: calc(100% + 14px)