<!doctype html>
<html lang="en">
<head>
	<title>Vývoj školního portálu | Update</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ "/assets/css/email.css" | absolute_url }}" />
</head>
<body>
<div id="page-wrapper">
	<div class="pre-header">
		<!-- Few words about this email, is visible in e-mail preview -->
		Úprava agendy, možnost měnit obrázek na hlavní straně, iterace designu a nový redner školy.
	</div>
	<div id="content-wrapper">
		<div id="header">
			<div class="info">
				<a href="{{ page.url | absolute_url }}">Zobrazit v prohlížeči</a>
				<span>
				Vývoj školního portálu | {{ time | date_to_long_string }}
				</span>
			</div>
			<img src="{{ page.heroImageUrl | absolute_url }}" alt="header image">
		</div>
		<div id="main-content-wrapper">
			{{ content }}
		</div>
	</div>
	<div id="footer">
		<a href="http://www.nastrojeproskoly.cz">Školní portál s elegancí</a>
	</div>
</div>
</body>
</html>
