{% include head.html title=page.title %}

{% include top-bar.html %}

<div id="page-wrapper">

<div class="segment-wrapper" id="hero-card">
	<div class="segment-half">
		<h1>
			Školní portál<br />s elegancí{% include rose-minified-svg.svg %}
		</h1>
		<div class="excerpt">
			Buďte v kontaktu s rodiči, uspořádejte podstatné <a href="#">informace a dokumenty</a>, ulehčete si práci s <a href="#">rozvrhy</a>, <a href="#">jídelníčkem</a> a <a href="#">agendou</a>. Spravovat školní web by mělo být jednoduché jako psaní e-mailů.
		</div>
		<button>
			Vyzkoušet demo
		</button>
	</div>
	<div class="segment-half">
		<picture>
			<source 
				media="(min-width: 1081px)"
				srcSet="assets/images/tfs-portal-mockup-580w.png 580w, assets/images/tfs-portal-mockup-1160w.png 1160w"
				sizes="500w"
			/>
			<source 
				media="(max-width: 1080px)"
				srcSet="assets/images/tfs-portal-mockup-mobile-580w.png 580w, assets/images/tfs-portal-mockup-mobile-1160w.png 1160w"
				sizes="580w"
			/>
			<img 
				class="layout-graphic"
				src="assets/images/tfs-portal-mockup-1160w.png"
				alt="Náhled/rozvržení hlavní strany portálu"
			/>
		</picture>
	</div>
</div>

<div class="segment-wrapper grey-backdrop" id="examples-homepage-segment">
	<div class="content-wrap">
		<h2>Příklad z praxe</h2>
		<div class="project-details">
			<h3>Základní škola Brno, Hronznová 1</h3>
			<p>
				Provedené práce: Import původního odsahu, nové logo, hlavičkové papíry, uvítací karta 
			</p>
			<p>
				<a href="https://www.zshroznova.cz">www.zshroznova.cz</a>
			</p>
		</div>
	</div>
</div>

{% include footer.html %}
