{% include head.html title=page.title %}

{% include top-bar.html %}

<div id="page-wrapper">

<div class="segment-wrapper">
	<div class="segment-half">
		<h1>
			Kolik to stojí?
		</h1>
		<div class="excerpt">
			Buďte v kontaktu s rodiči, uspořádejte podstatné <a href="#">informace a dokumenty</a>,<br />ulehčete si práci s <a href="#">rozvrhy</a>, <a href="#">jídelníčkem</a> a <a href="#">agendou</a>.<br />Spravovat školní web by mělo být jednoduché jako psaní e-mailů.
		</div>
	</div>
</div>

{% include footer.html %}
